@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Mono:wght@100&display=swap');

body {
    font-family: "Poppins";
    font-weight: 600;
}

:root {
    --gradient-color: linear-gradient(90deg,rgba(110, 192, 100, 1) 34%, rgba(52, 156, 85, 1) 100%);
}