@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

:root {
    --gradient-color: linear-gradient(90deg, rgba(110, 192, 100, 1) 34%, rgba(52, 156, 85, 1) 100%);
    --gradient-color-footer: linear-gradient(90deg, rgba(52, 156, 85, 1) 3%, rgba(110, 192, 100, 1) 86%);
    --gradient-color-adminNav: linear-gradient(90deg, rgba(57, 130, 80, 1) 8%, rgba(255, 196, 64, 1) 87%);
}